//
// Icon Font: font_icons8
//

@font-face {
  font-family: "font_icons8";
  src: font-url("font_icons8.eot");
  src: font-url("font_icons8.eot?#iefix") format("embedded-opentype"),
       font-url("font_icons8.woff") format("woff"),
       font-url("font_icons8.ttf") format("truetype"),
       font-url("font_icons8.svg#font_icons8") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font_icons8";
    src: font-url("font_icons8.svg#font_icons8") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icons8-menu:before,
.icons8-search:before {
  display: inline-block;
  font-family: "font_icons8";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-menu:before { content: "\f100"; }
.icons8-search:before { content: "\f101"; }
